@font-face {
   font-family: "Garamond";
   src: url("fonts/Garamond.woff") format("woff"), url("fonts/Garamond.eot") format("embedded-opentype"), url("fonts/Garamond.TTF") format("truetype"), url("fonts/Garamond.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}